@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
  font-family: "Nanum Gothic", sans-serif;
}

#introduction {
  text-align: center;
  font-size: 30px;
}

#title {
  text-align: center;
  font-size: 80px;
}

#container {
  width: 80%;
  border: 6px solid black;
  background-color: white;
  margin: auto;
}

body {
  background-color: rgb(213, 241, 191);
}

img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin-left: 10%;
  border-radius: 6px;
}

.description {
  display: inline-block;
  font-size: 30px;
}

section {
  margin: 50px;
}

a {
  text-decoration: none;
}
